

.search-bar{
    /* background-color:black; */
    border-radius: 60px;
    width: 200px;
    height: 50px;
    display: flex;
}

.search-bar input{
    background-color: #eb6f9f;
    width: 195px;
    position: relative;
    left: 5px;
    border-radius: 60px;
    font-size: 20px;
    color: white;
}